<h1>All Countries in </h1>
<a href="/continents">Back to continents</a>

<% continents.forEach(country => { %>
      <div class="card">
            <a href="/continents/<%= continent.id %>/countries"><%= country.name %></a>
      </div>
<% }) %>