<h1>Continents</h1>
<a href="/continents/new">New Continent</a>

<% continents.forEach(continent => { %>
<div class="card">
  <a href="/continents/<%= continent.id %>"><%= continent.name %></a>
</div>
<% }) %>