<h1>New Continent</h1>
<a href="/continents">Continents Index</a>

<form method="POST" action="/continents">
    <label>Name</label>
    <input type="text" name="name">

    <label>Size</label>
    <input type="text" name="size">

    <input type="submit">
</form>