<h1>Create Continent</h1>
<a href="/continents">Go back to continents page</a>

<form method="POST" action="/continents/new/createdcontinent">
    <label>Continent Name</label>
    <input type="text" name="name">

    <label>Size</label>
    <input type="number" name="size">

    <input type="submit">
</form>

