<h1>New Country in Continent</h1>
<a href="/continents">Back to continents</a>

<form method="POST" action="/countries">
      <label>Name</label>
      <input type="text" name="name">

      <label>Founded</label>
      <input type="text" name="founded">

      <label>Population</label>
      <input type="text" name="population">

      <input type="text" name="continentId" id="hidden" value="continentId">

      <input type="submit" value="Add New Country">
</form>