<h1>New Country in </h1>

<form method="POST" action="/countries">
    <label>Name:</label>
    <input type="text" name="name">

    <label>Founded:</label>
    <input type="text" name="founded">

    <label>Population:</label>
    <input type="text" name="population">

    <!-- <label>Continent:</label>
    <input type="text" name="continentId"> -->

    <input type="submit">

</form>