<div class="mainheader">
    <h1>😃😃 WELCOME 😃😃</h1>
</div>

<div class="container">
    <div class="first">
        <a href="/continents">CONTINENTS</a>
    </div>

    <div class="second">
        <a href="/countries">COUNTRIES</a>
    </div>
</div>
