<!DOCTYPE html>
<html>
    <head>
        <title> Countries EJS</title>
        <link rel="stylesheet" href="/styles.css">

    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <div class="container">
            <%- body %>

        </div>





    </body>


</html>