<!DOCTYPE html>
<html>

<head>
    <title>DIY API EJS</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <div class="container">
            <%- body %>
        </div>
</body>