<!DOCTYPE html>
<html>
  <head>
    <title>Countries & Continents</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container"><%- body %></div>
  </body>
</html>
