<!DOCTYPE html>
<html>
    <head>
    <title>Countries and Continents!</title>
    <link rel="stylesheet" href="/styles.css">
    </head>

    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <%- body %> 
    </div>
</html>