body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(167, 75, 0);
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

header a:hover {
  color: rgb(99, 73, 6);
}

.card {
  border: 1px solid burlywood;
  padding: 10px;
  margin: 10px;
}

.container {
  width: 75%;
  margin: 0 auto;
}
