<h1>Country index page</h1>
<a href="/countries/new">New Country</a>
<ul>
    <% countries.forEach(country => { %>
        <li class="card">
            <a href="/countries/<%= country.id %>"><%= country.name %></a>
        </li>
    <% }) %>
</ul>


