<h1>Countries Index Page</h1>
<a href="/countries/new">Add country</a>

<% countries.forEach(country=> { %>
    <div class="card">
        <a href="/countries/<%= country.id %>">
            <%= country.name %> is founded in <%= country.founded %> and has a population of <%= country.population %>
        </a>
    </div>
    <% }) %>