<h1>New country</h1>
<a href="/countrys">countrys Index</a>

<form method="POST" action="/countrys">
  <label>Type</label>
  <input type="text" name="type" />

  <label>Img_Url</label>
  <input type="text" name="img_url" />

  <input type="submit" />
</form>
