<h1>New Country</h1>
<a href="/countries">Countries Index</a>

<form method="POST" action="/countries">
      <label>Name</label>
      <input type="text" name="name">

      <label>Founded</label>
      <input type="text" name="founded">

      <label>Population</label>
      <input type="text" name="population">

      <input type="submit" value="Add New Country">
</form>