<h1>New Country</h1>
<a href="/countries">Countries Index Page</a>

<form method="POST" action="/countries">
    <label>New Country</label>
    <input type="text" name="name">
    <input type="submit">
</form>