<h1>Adding a New Country!</h1>


<form method="POST" action="/countries">
    <label>Name</label>
    <input type="text" name="name">

    <label>Year Founded</label>
    <input type="text" name="founded">

    <label>Current Population</label>
    <input type="text" name="population">

    <input type="submit">

</form>