<h1>Countries Index Page</h1>
<a href="/countries/new">New Country</a>

<% countries.forEach(country => { %>
    <a href="/countries/<%= country.id%>"> <%= country.name%> the <%= country.type %></a>

<% }) %> 